<nav class="navbar-expand-lg bg-light navbar navbar-light">
  <img src="/assets/Images/logo.jpg" alt="Logo_of_System" style="width: 40px" />
  <a class="navbar-brand" routerLink="/">Employee Management System</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    aria-expanded="false"
    data-target="#navbarSupportedContent"
    aria-label="Toggle navigation"
    aria-controls="navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="mr-auto navbar-nav">
      <li class="active nav-item">
        <a class="nav-link" routerLink="/view"
          >View Employee Details <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="active nav-item">
        <a class="nav-link" routerLink="/"
          >Add Employee Details <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
