<div class="prop">
  <div class="row">
    <div class="offset-md-3 col-md-6 form-container">
      <h2 class="text-center" style="color: white">Add Employee Details</h2>
      <br />
      <form
        id="addForm"
        #addDetails="ngForm"
        ngNativeValidate
        (ngSubmit)="onSubmit(addDetails)"
      >
        <div class="row">
          <div class="form-group col-md-6">
            <label for="firstName" style="color: white">First Name</label>
            <input
              type="text"
              title="Please enter a valid first name"
              class="form-control"
              id="first_name"
              name="first_name"
              ngModel
              placeholder="Enter first name"
              (keypress)="checkOnlyLetterInputs($event)"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="lastName" style="color: white">Last Name</label>
            <input
              class="form-control"
              type="text"
              ngModel
              (keypress)="checkOnlyLetterInputs($event)"
              title="Please enter a valid last name"
              id="last_name"
              name="last_name"
              placeholder="Enter last name"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dateOfBirth" style="color: white">Date Of Birth</label>
            <input
              type="date"
              class="form-control"
              id="date_of_birth"
              max="{{ getCurrentDate() }}"
              name="date_of_birth"
              ngModel
              placeholder="Enter date of birth"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="salary" style="color: white">Salary</label>
            <input
              id="salary"
              type="number"
              class="form-control"
              name="salary"
              ngModel
              placeholder="Enter salary"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="address" style="color: white">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              ngModel
              placeholder="Enter address"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="jobTitle" style="color: white">Job Title</label>
            <input
              type="text"
              class="form-control"
              id="job_title"
              name="job_title"
              ngModel
              placeholder="Enter job title"
              (keypress)="checkOnlyLetterInputs($event)"
              title="Please enter a valid title"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="email" style="color: white">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              ngModel
              placeholder="Enter email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              title="Enter a valid pattern"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="phone" style="color: white">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              ngModel
              placeholder="Enter phone number"
              pattern="[0-9]{10}"
              (keypress)="checkOnlyNumberInputs($event)"
              title="Enter valid phone number"
              required
            />
          </div>
        </div>
        <br />
        <button
          [disabled]="addDetails.invalid"
          type="submit"
          class="btn btn-primary custom-btn btn-block"
        >
          Add Employee Details
        </button>
      </form>
    </div>
  </div>
</div>
