<div class="prop" id="m-container"></div>
<br />
<table class="table-striped table table-dark">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Salary</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Update Details</th>
      <th scope="col">Delete Employee</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <th scope="row">{{ emp.first_name }}</th>
      <td>{{ emp.last_name }}</td>
      <td>{{ emp.date_of_birth | date : "yyyy-MM-dd" }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.address }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.phone }}</td>
      <td>
        <button
          type="button"
          class="btn-block btn custom-btn btn-primary"
          (click)="editEmployee(emp)"
        >
          Edit Employee
        </button>
      </td>
      <td>
        <button
          type="button"
          class="custom-btn btn btn-block btn-primary"
          (click)="deleteEmployee(emp)"
        >
          Delete Employee
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!--Edit employee details form-->
<div
  id="editEmployeeModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="employeeEditModalLabel"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="form-container modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="updateEmployeeModalLabel"
          style="color: white"
        >
          Edit Employee
        </h5>
        <button
          type="button"
          aria-label="Close"
          class="close"
          data-dismiss="modal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="firstName" style="color: white">First Name</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                ngModel="{{ updateEmployee?.first_name }}"
                placeholder="Enter first name"
                (keypress)="checkOnlyLetterInputs($event)"
                title="Please enter a valid first name"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="lastName" style="color: white">Last Name</label>
              <input
                type="text"
                id="last_name"
                class="form-control"
                name="last_name"
                ngModel="{{ updateEmployee?.last_name }}"
                placeholder="Enter last name"
                (keypress)="checkOnlyLetterInputs($event)"
                title="Please enter a valid last name"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="dateOfBirth" style="color: white"
                >Date Of Birth</label
              >
              <input
                type="date"
                class="form-control"
                id="date_of_birth"
                name="date_of_birth"
                max="{{ getCurrentDate() }}"
                placeholder="Enter date of birth"
                ngModel="{{ updateEmployee?.date_of_birth }}"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <label style="color: white" for="salary">Salary</label>
              <input
                type="number"
                id="salary"
                name="salary"
                ngModel="{{ updateEmployee?.salary }}"
                placeholder="Enter salary"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="address" style="color: white">Address</label>
              <input
                id="address"
                type="text"
                class="form-control"
                name="address"
                ngModel="{{ updateEmployee?.address }}"
                placeholder="Enter address"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="jobTitle" style="color: white">Job Title</label>
              <input
                type="text"
                id="job_title"
                class="form-control"
                name="job_title"
                ngModel="{{ updateEmployee?.job_title }}"
                placeholder="Enter job title"
                (keypress)="checkOnlyLetterInputs($event)"
                title="Please enter a valid title"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email" style="color: white">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                ngModel="{{ updateEmployee?.email }}"
                placeholder="Enter email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="Enter a valid email"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="phone" style="color: white">Phone Number</label>
              <input
                type="tel"
                id="phone"
                class="form-control"
                name="phone"
                ngModel="{{ updateEmployee?.phone }}"
                placeholder="Enter phone number"
                (keypress)="checkOnlyNumberInputs($event)"
                title="Enter valid phone number"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="employee_id"
                hidden
                name="employee_id"
                ngModel="{{ updateEmployee?.employee_id }}"
                readonly
              />
            </div>
          </div>
          <br />
          <button
            (click)="updateEmployees(updateForm.value)"
            type="submit"
            data-dismiss="modal"
            class="btn custom-btn btn-primary btn-block"
          >
            Update Employee
          </button>
          <br />
          <button
            type="button"
            id=""
            data-dismiss="modal"
            class="btn btn-block btn-secondary"
          >
            Close
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
