.prop {
  position: fixed;
  width: 100%;
  left: 1;
  right: 1;
  bottom: 0;
  z-index: -1;
  height: 100%;
  display: block;
  background-image: url("/assets/Images/image.jpeg");
}

.custom-btn {
  background-color: #2a010c;
  border-color: #301934;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px;
  border-radius: 5px;
  background-image: url("/assets/Images/wallpaper.jpg");
  background-size: cover;
  margin-top: 100px;
}
